.dark_mode {
    /* margin-top: -20px;
    margin-left: 10px; */

}

.dark_mode_label {
    width: 64px;
    height: 35px;
    position: relative;
    display: flex; /* Use flexbox */
    align-items: center; /* Align items vertically center */
    justify-content: center; /* Align items horizontally center */
    background: #fff;
    border-radius: 15px;
    box-shadow: inset 0px 5px 15px #fff;
    cursor: pointer;
    transition: 0.3s;
    border: 2px solid #007bff; /* Add blue border to the main element */
    
}
.dark_mode_label:after {
    content: "";
    width: 25px;
    height: 25px;
    position: absolute;
    top: 4px;
    left: 2px;
    background: linear-gradient(180deg, #fff, #fff);
    border-radius: 40px;
    box-shadow: inset 0px 5px 10px #fff;
    transition: 0.3s;
    border: 1px solid #007bff; 
}
.dark_mode_input {
    width: 0;
    height: 0;
    visibility: hidden;
}
.dark_mode_input:checked + .dark_mode_label {
    background: #fff;
}
.dark_mode_input:checked + .dark_mode_label:after {
    left: 62px;
    transform: translateX(-100%);
    /* background: linear-gradient(180deg, #777, #3a3a3a); */
    background: linear-gradient(180deg, #fff, #fff);
}
.dark_mode_label:active:after {
    width: 30px;
}

.dark_mode_label svg {
    position: absolute;
    width: 20px;
    top: 7px;
    z-index: 100;
    
}
.dark_mode_label svg.sun {
    left: 5px;
    fill: black;
    transition: 0.3s;
}
.dark_mode_label svg.moon {
    left: 40px;
    fill: black;
    transition: 0.3s;
}
.dark_mode_input:checked + .dark_mode_label svg.sun {
    fill: black;
}
.dark_mode_input:checked + .dark_mode_label svg.moon {
    fill: black;
}
